.menu-container {
  background-color: grey;
  width: 15%;
  position: fixed;
  position: -webkit-sticky;
  display: flex;
  flex-direction: column;
  top: 110px;
  background-color: black;
  font-size: 22px;
}

.menu-options {
  text-decoration: none;
  color: white;
}
